* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

#navbar a {
  color: #ffffff;
  padding-bottom: 2px;
  border-radius: 0%;
  font-size: 1.2rem;
}

#navbar a:hover {
  border-bottom: 1.5px solid #be9063;
}

#top .more {
  display: inline-block;
  width: 100%;
  animation: updown 1s linear alternate infinite;
}

@keyframes updown {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#header {
  background-color: #132226;
  color: #ffffff;
  height: 100vh;
  position: relative;
}

#header::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

#top a {
  font-size: 2rem;
  margin: 0 3px;
  color: #ffffff;
}

#top a :hover {
  color: #ffe9d9;
}

#top .btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1rem;
}

#top .btn:focus {
  box-shadow: none;
}

#top .btn:hover {
  background-color: #fff;
  color: #132226;
}

.show {
  display: block;
}

#about {
 
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 10%,
      rgb(81, 169, 247) 60%,
      rgb(199, 122, 235) 100%
    );

  position: relative;
  z-index: 999;
  font-size: 1rem;
}

#about h2 {
  color: rgb(0, 0, 0);
  font-family: "Righteous", cursive;
  padding-top: 1rem;
}

h2 {
  font-size: 2.8rem;
  font-family: "Righteous", cursive;
}

h3{
    font-size: 1.5rem;
}

#about .aboutb {
  padding: 0 2%;
  font-size: 1rem;
}

#about .aboutb i {
  color: #db4fa5;
}

#about .aboutb p {
  letter-spacing: 1px;
}

.timeline {
  position: relative;
  width:90%;
  margin:0 auto;

}

.timeline h6 {
  font-weight: 700;
  color: #033319;
  font-size: 1.2rem;
}

.timeline p {
  font-weight: 100;
}

.timeline li {
  padding: 0 0 3rem 3rem;
  position: relative;
}

.timeline li:hover h6{
  color:#290255;
}

.timeline li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  padding-left: 5px;
  border: 2px solid #442403;
  position: absolute;
  left: 0;
  top: 7px;
  z-index: 999;
}

.timeline li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #8f1108;
  position: absolute;
  left: 7.5px;
  top: 0;
}

.timeline li:last-child::after{
  height: 65%;
}

.timeline li:hover::before {
  animation: shadow 1s linear alternate infinite;
}

@keyframes shadow {
  from {
    box-shadow: 0 0 5px #ff0000;
    border: 2px solid #b4793e;
    background-color: #000000;
  }
  to {
    box-shadow: 0 0 3px #680496;
    border: 2px solid #3494cc;
    background-color: #2b2a2a;
  }
}

#study{
  background:linear-gradient(
    180deg,
    rgb(199, 122, 235) 30%,
    rgb(204, 127, 146) 60%,
    rgb(218, 128, 112) 100%
  );
}

#work{
  background:linear-gradient(
    180deg,
    rgb(218, 128, 112) 10%,
    rgb(233, 235, 122) 70%,
    rgb(255, 255, 255) 100%
  );
}

#skill h3 {
  text-align: center;
}

#skill h1 {
  background: linear-gradient(-24deg, #132226 59%, #fff 26%);
  color: #ffffff;
  text-align: right;
}

#skill .front .progress {
  background-color: #84be63;
}

#skill .front .progress-bar {
  background-color: #30630f;
}

#skill .backend .progress {
  background-color: #6b8d8d;
}

#skill .backend .progress-bar {
  background-color: #01395f;
}

#skill .other .progress {
  background-color: #d087ec;
}

#skill .other .progress-bar {
  background-color: #5b0966;
}

#skill .language .progress {
  background-color: #e7e57c;
}

#skill .language .progress-bar {
  background-color: #cf9220;
}

#portfolio {
  background-color: #ffffff;
}

#portfolio h5 {
  color: #040c0e;
  border-bottom: 1px solid #8f1108;
  padding-bottom: 0.3rem;
}

#portfolio .nav-link {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

#portfolio .nav-link:focus {
  box-shadow: none;
  border-bottom: 1px solid #040c0e;
  border-radius: 0;
  color: #bd2600;
}

#portfolio .card {
  display: none;
  border: 1px solid #132226;
}

#portfolio .show {
  display: block;
}

#portfolio .card-body .btn {
  color: #132226;
  border: none;
  border-radius: 0;
  display: inline-block;
  width: 100%;
  animation: shake 7s linear infinite;
}

#portfolio .card-body .btn:focus {
  box-shadow: none;
}

#portfolio .card-body .btn:hover {
  color: rgb(207, 29, 148);
}

@keyframes shake {
  form {
    transform: translate(0.5px);
  }
  to {
    transform: translate(0);
  }
}

#portfolio .card-body .fa-angle-double-right {
  float: right;
  font-size: 1.5rem;
}

#portfolio .card-body li{
  font-size: 1rem;
}

#portfolio .card-body .js {
  background-color: #ffd541;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-radius: 9px;
  font-style: italic;
  font-weight: 700;
  font-size: 0.7rem;
}

#portfolio .card-body .ajax {
  display: inline-block;
  padding: 0.01rem 0.3rem;
  border-radius: 9px;
  font-style: italic;
  font-weight: 700;
  font-size: 0.7rem;
  border: 1px solid #58aae8;
  color: #58aae8;
}

#portfolio .card-body .php {
  background-color: #d3beea;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-radius: 9px;
  font-style: italic;
  font-weight: 700;
  font-size: 0.7rem;
}

#portfolio .card-body .mysql {
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-radius: 9px;
  font-style: italic;
  font-weight: 700;
  font-size: 0.7rem;
  color: #3c4e57;
}
#portfolio .card-body .my {
  color: #e67e1f;
}

.circel{
  position: relative;
  color:#fff;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background:linear-gradient(#33ccff,#ff0066);
  margin:25px;
  z-index: 0;
}

.circel:after{
  content:"";
  position: absolute;
  top:30px;
  right:30px;
  left:30px;
  bottom:30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 999;
}

.circel span{
  position: absolute;
  color:rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:transparent;
}

.circel span:nth-child(1){
  filter: blur(5px);
}
.circel span:nth-child(2){
  filter: blur(10px);
}

.circel span:nth-child(3){
  filter: blur(20px);
}

.circel span:nth-child(4){
  filter: blur(30px);
}

@keyframes turn{
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.circel:before{
  content:"";
  position: absolute;
  width: 30vh;
  height: 30vh;
  background:linear-gradient(#33ccff,#ff0066);;
  border-radius: 50%;
  z-index: 2;
}

.circel:hover::before{
  animation: turn 1s linear infinite;
}

.circel .text{
  position: absolute;
  top:45%;
  text-align: center;
  z-index: 9999999;
}

.circel:hover .text{
  font-weight: 700;
}


#footer{
background-color: darkslategrey;
color:#fff;
padding:1rem;
}

.totop{
  width: 50px;
  height:50px;
  border-radius: 50%;
  background:#ffffff;
  border:1px solid #000;
  opacity: 0.7;
  font-size: 1.5rem;
  position: fixed;
  right:1rem;
  bottom:1rem;
  color:#fff;
  text-align: center;
  z-index: 99999999999999;
  box-shadow:0px 0px 10px #999;
  animation: bobojump 2s ease infinite;
}

@keyframes bobojump{
    0%, 20%, 53%, 80%, 100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate(0, 0);
    }
    
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(0, -30px);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(0, -15px);
    }
    90% {
        transform: translate(0, -4px);
    }
}


button:focus{
  outline: none;
}
.navbar-toggler{
  border:none;
}
.navbar-toggler-icon{
  background-image: url("../icon/menu.svg") !important;
}

.menu{
  background:rgb(0, 0, 0);
  opacity: 0.5;
  width:40%;
}

.menu a{
  color: #ffffff;
}

.menu a:focus{
  color:rgb(8, 255, 243);
}



@media (min-width: 768px) {
  #header::after {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateY(70%);
    box-shadow:100px 0 0 0px #ffffff, 200px 10px 0 -12px #ffffff, 300px 0px 0 3px #ffffff, 400px 0 0 -4px #ffffff, 500px -16px 0 5px #ffffff, 600px 0 0 -10px #ffffff, -119px 15px 0 6px #ffffff, -250px -10px 0 -10px #ffffff, -323px -25px 0 -14px #ffffff, -450px -14px 0 6px #ffffff, -500px 0 0 0px #ffffff, -600px -6px 0 -8px #ffffff, -700px 0 0 7px #ffffff, -800px 20px 0 0 #ffffff
  }

  #about .aboutb {
    padding: 0 2%;
    color: #252525;
  }

  #about .aboutb p {
    width: 60%;
    margin: auto;
    color: #363636;
    letter-spacing: 1px;
    border-radius: 15px;
  }

  #about .borbot {
    border-bottom: 1px dashed rgb(136, 107, 126);
    padding-bottom: 0.1rem;
  }


  #portfolio .nav-item {
    width: 10%;
  }

  #portfolio img {
    width: 100%;
    height: 40%;
  }

  .timeline li {
    margin-left:50%;
    transform: translate(-40%);
  }

  .inst{
    width:480px;
    margin:auto;
    padding:50px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .inst li{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin:0 30px -20px;
    position: relative;
    font-size: 1rem;
    color:#fff;
  }
  
  .inst li::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  .inst li:nth-child(n+4){
    left: 80px;
  }
  
  .inst li:nth-child(n+7){
    left: 0px;
  }
  
  .box1::before{
    background-color: brown;
  }
  .box2::before{
    background-color: rgb(71, 165, 42);
  }
  .box3::before{
    background-color: rgb(42, 61, 165);
  }
  .box4::before{
    background-color: rgb(84, 64, 129);
  }
  .box5::before{
    background-color: rgb(165, 42, 104);
  }
  .box6::before{
    background-color: rgb(196, 92, 92);
  }
  .box7::before{
    background-color: rgb(219, 161, 54);
  }
  .box8::before{
    background-color: rgb(12, 99, 73);
  }
  .box9::before{
    background-color: rgb(64, 136, 196);
  }
  
  .inst li:hover{
    color:rgb(251, 255, 0);
  }
  
  .inst li:hover::before{
    background-color: #000;
  }

  
#contact{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 73, 73);
  position: relative;
}

#contact > div img{
  width: 70%;
}

#contact > div{
  position: absolute;
  z-index: 999;
  width: 50%;
  height: 80%;
  background-color: #ffffff;
  opacity: 0.6;
}

#contact > div div:first-child a{
  color:rgb(2, 58, 35);
  font-size: 5rem;
}

#contact > div div:nth-child(2) i{
  color:rgb(2, 58, 35);
  font-size: 5rem;
}

iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  filter: brightness(0.4);
}

}

@media (max-width: 400px) {
  #about .aboutb {
    font-size: 0.8rem;
  }
  #about h2 {
    font-size: 2.5rem;
  }
}
